<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container pl-0">
            <a class="col-2 navbar-brand" href="/home">
                <h3>OSF Backend</h3>
            </a>
        
            
            <div class="row justify-content-end mr-0">
                <% if(displayLogButtons) { %>
                    <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left:80px; width: 100px; border-radius: 12px;" data-toggle="modal" data-target="#signup">Sign Up</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" style="margin-left:80px; width: 100px; border-radius: 12px;" data-toggle="modal" data-target="#signin">Sign In</button>
                <% } %>
            
                <% for(category of categories) { %>    
                    <form action="/category/<%= category.id %>" method="GET">
                        <% if(typeof(selectedCategory) !== 'undefined' && selectedCategory.id === category.id) { %>  
                            <button type="submit" class="btn btn-danger btn-sm" style="margin-left:80px; width: 100px; border-radius: 12px;"><%= category.name %></button>
                        <% } else { %>
                            <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-left:80px; width: 100px; border-radius: 12px;"><%= category.name %></button>
                        <% } %>
                    </form>
                <% } %>
                
                <% if(!displayLogButtons) { %>

                    <a href="/users/cart"><img style="margin-left:80px; width: 30px;" src="/images/shoppingCart.svg" alt="Shopping Cart" style="width: 30px; height:30px;"></a>
                    <a href="/users/wishlist"><img style="margin-left:80px; width: 30px;" src="/images/wishList.jpg" alt="Wish List" style="width: 30px; height:30px;"></a>
                    <a href="/users/profile"><img style="margin-left:80px; width: 30px;" src="/images/profileIcon.png" alt="Wish List" style="width: 30px; height:30px;"></a>

                    <form action="/users/logout" method="GET">
                        <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-left:80px; width: 100px; border-radius: 12px;">Log Out</button>
                    </form>  

                    
                <% } %>
    
            </div>       

        </div>
    </nav>
     <!-- /navbar -->

     <br>
     <br>
     <br>

    <% if(!url.includes("cart") && !url.includes("wishlist")) { %>
    <nav aria-label="breadcrumb">
        <div class="container pl-0 pt-2">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <% if(typeof(selectedCategory) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>"><%= selectedCategory.name %></a></li>
                <% } %>
                <% if(typeof(selectedSubCategory) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>/subcategory/<%= selectedSubCategory.id %>"><%= selectedSubCategory.name %></a></li>
                <% } %>
                <% if(typeof(selectedSubSubCategory) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>/subcategory/<%= selectedSubCategory.id %>/subsubcategory/<%= selectedSubSubCategory.id %>/products/1"><%= selectedSubSubCategory.name %></a></li>
                <% } %>
                <% if(typeof(selectedProduct) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>/subcategory/<%= selectedSubCategory.id %>/subsubcategory/<%= selectedSubSubCategory.id %>/product/<%= selectedProduct[0].id %>"><%= selectedProduct[0].name %></a></li>
                <% } %>
                
            </ol>
        </div>
    </nav>
    <% } %>
    
   

</header>