<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container pl-0">
            <a class="col-2 navbar-brand" href="/home">
                <h3>OSF Backend</h3>
            </a>
        
      
            <div class="row justify-content-end mr-0">
                <% for(category of categories) { %>    
                    <form action="/category/<%= category.id %>" method="GET">
                        <% if(typeof(selectedCategory) !== 'undefined' && selectedCategory.id === category.id) { %>  
                            <button type="submit" class="btn btn-danger btn-sm" style="margin-left:100px; width: 100px; border-radius: 12px;"><%= category.name %></button>
                        <% } else { %>
                            <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-left:100px; width: 100px; border-radius: 12px;"><%= category.name %></button>
                        <% } %>
                    </form>
                <% } %>
            </div>       
    
            
 

        </div>
    </nav>
     <!-- /navbar -->

     <br>
     <br>
     <br>
    <nav aria-label="breadcrumb">
        <div class="container pl-0 pt-2">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <% if(typeof(selectedCategory) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>"><%= selectedCategory.name %></a></li>
                <% } %>
                <% if(typeof(selectedSubCategory) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>/subcategory/<%= selectedSubCategory.id %>"><%= selectedSubCategory.name %></a></li>
                <% } %>
                <% if(typeof(selectedProduct) !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/category/<%= selectedCategory.id %>/subcategory/<%= selectedSubCategory.id %>/product/<%= selectedProduct[0]._id %>"><%= selectedProduct[0].name %></a></li>
                <% } %>
                
            </ol>
        </div>
    </nav>
    
   

</header>