<div class="container">

    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <img class="card-img-bottom w-100 h-100" src="../images/<%= product[0].image_groups.filter(obj => obj.view_type === 'large')[0].images[0].link %>" alt="Product Image">
                </div>
                <div class="col-6">
                    <h5 class=" card-title"><%= product[0].name %></h5>
                    <br>
                    <p class="card-text"><%= product[0].long_description %></p>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-danger btn-sm" type="button" style="border-radius: 12px;">Buy Now</button>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-7 text-right">
                                    <p class="card-text">Price: <%= product[0].price.toFixed(2) %></p>
                                </div>
                                <div>
                                    <div class="input-group">
                                        <select class="custom-select pt-0" style="height: 30px;" id="inputGroupSelect04">
                                          <option selected><%= product[0].currency %></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>